<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="static/adminShow.css">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">


</head>
<body>
    <div>
        <div class="title">
            <h1> Hello ADMIN, </h1>
            <h2> this is add page </h2>
        </div>
        <div class="myform">
            <form action="" method="post">
                <label for="tz">ID:</label>
                <input type="text" name="tz" placheholfer="tz" class="input">
                <label for="first_name">First name:</label>
                <input type="text" name="first_name" placheholfer="first_name" class="input">
                <label for="last_name">Last name:</label>
                <input type="text" name="last_name" placheholfer="last_name" class="input">
                <label for="school">School:</label>
                <input type="text" name="school" placheholfer="school" class="input">
                <label for="email">Email:</label>
                <input type="text" name="email" placheholfer="email" class="input">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" placheholfer="phone" class="input">
                <label for="role">Role:</label>
                    <select name="role" id="role">
                        <option value="student">student</option>
                        <option value="teacher">teacher</option> 
                    </select></br>
                <label for="classrome">Classrome:</label>
                    <select name="classrome" id="classrome">
                        <option value="1">א</option>
                        <option value="2">ב</option>   
                        <option value="3">ג</option>
                        <option value="4">ד</option>
                        <option value="5">ה</option>
                        <option value="6">ו</option>
                    </select>            
                <input type="submit" value="Add" class="submit">
            </form>
        </div>
    </div>
</body>
